body {
  font-family: 'Patrick Hand', cursive;
  font-size: 130%;
  color: black;
  margin: auto 150px 150px;
  text-justify: auto;
  background-color: rgb(255, 255, 0);
  background-image: linear-gradient(-90deg,rgb(255, 255, 0), rgb(241, 241, 165));
}

h1 {
  color: green;
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  text-shadow: 0 5px 3px #33723b ;
}

h1:hover {
  transform: rotate(3.25turn) skew(10deg);
  transition-duration: all 3.5s;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(16, 53, 11);
  position: sticky;
  top: 0;
  }
  
ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 600px) {
  ul.topnav, 
  ul.topnav li {float: none;}
}

h3 {
  color: rgb(124, 69, 5);
  font-size: 150%;
}

h3:hover {
  color: rgb(148, 43, 87);
}

input[type=text] {
  width: 50%;
  height: 5em;
  padding: 12px 12px 15px 15px;
  margin: 20px auto;
  border: 2px dashed rgb(18, 71, 18);
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px rgb(43, 156, 43)
}

button {
  margin-left: 10px;
  border-color: green
}

button:active {
  background-color: pink;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 15px 15px 15px 15px
}

th {
  color: green;
  text-decoration: underline;
  font-size: 1.5em
}

h2 {
  font-size: 200%
}

h2:hover {
  color: rgb(148, 14, 36)
}

blockquote {
  display: block;
  color: rgb(28, 112, 11);
  text-align: center;
  font-size: 150%;
  position: relative;
  animation: myAnimation 5s ease-out infinite;
}

@keyframes myAnimation {
  from {left: 0px;}
  to {left: 200px;}
}

p a, ol li a, h4 a {
  color: rgb(175, 36, 59)
}

p a, ol li a, h4 a:visited {
  color: rgb(102, 5, 102)
}

td img {
  transition: height 3s width 3s;
  border-radius: 25px;
}

td img:hover {
  height: 300px;
  width: 300px
}